Repository walker-tx/svelte5-tanstack-table-reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --list-different, eslint --fix

.lintstagedrc.yaml:

'*.ts':
  - prettier --write --list-different
  - eslint --fix
'*.js':
  - prettier --write --list-different
  - eslint --fix
'*.svelte':
  - prettier --write --list-different
  - eslint --fix
'*.json':
  - prettier --write --list-different

fix husky dependency
  .husky/pre-commit
  package.json
Due: prettier --write --list-different

modified readmes to use frontmatter
  src/routes/examples/basic/README.md
  src/routes/examples/reactive-data/README.md
  src/routes/examples/select/README.md
Due: none

reverted readmes
  src/routes/examples/basic/README.md
  src/routes/examples/reactive-data/README.md
  src/routes/examples/select/README.md
Due: none

import readme markdown into examples
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/routes/+layout.svelte
  src/routes/+page.ts
  src/routes/app.css
  src/routes/examples/+layout.svelte
  src/routes/examples/+layout.ts
  src/routes/examples/basic/README.md
  src/routes/examples/reactive-data/+page.ts
  src/routes/examples/reactive-data/README.md
  src/routes/examples/select/+page.svelte
  src/routes/examples/select/README.md
  src/routes/normalize.css
  vite.config.ts
Due: prettier --write --list-different, eslint --fix

add shiki highlighting
  package.json
  pnpm-lock.yaml
  src/lib/highlighting.ts
  src/routes/examples/+layout.svelte
  src/routes/examples/basic/+page.svelte
  src/routes/examples/basic/README.md
  src/routes/examples/reactive-data/+page.svelte
  src/routes/examples/select/+page.svelte
  vite.config.ts
Due: prettier --write --list-different, eslint --fix

styling, dark mode, etc
  package.json
  pnpm-lock.yaml
  src/lib/components/highlight.svelte
  src/lib/highlight.ts
  src/lib/highlighting.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/app.css
  src/routes/examples/basic/+page.svelte
  src/routes/examples/select/+page.svelte
  static/normalize.css
  static/sakura-dark.css
  static/sakura.css
  static/shiki.css
  vite.config.ts
Due: prettier --write --list-different, eslint --fix

update readme and add example for renderSnippet
  src/lib/services/example-registry.ts
  src/lib/table/index.ts
  src/routes/+page.svelte
  src/routes/examples/basic/README.md
  src/routes/examples/reactive-data/README.md
  src/routes/examples/rendering-snippets/+page.svelte
  src/routes/examples/rendering-snippets/+page.ts
  src/routes/examples/rendering-snippets/README.md
  src/routes/examples/select/README.md
  src/routes/examples/select/_components/table-checkbox.svelte
Due: prettier --write --list-different, eslint --fix

added some diff highlighting
  package.json
  pnpm-lock.yaml
  src/routes/examples/basic/README.md
  src/routes/examples/rendering-snippets/README.md
  static/shiki.css
  vite.config.ts
Due: prettier --write --list-different, eslint --fix

fixed imports in some examples
  src/routes/examples/basic/README.md
  src/routes/examples/rendering-snippets/README.md
Due: none

diff highlighting for articles
  src/routes/examples/+layout.svelte
  src/routes/examples/reactive-data/+page.svelte
  src/routes/examples/reactive-data/README.md
  src/routes/examples/rendering-snippets/README.md
  src/routes/examples/select/README.md
Due: prettier --write --list-different, eslint --fix

simplify styling with css vars and let vite do its thang
  src/routes/+layout.svelte
  src/routes/app.css
  src/styles/normalize.css
  src/styles/sakura.css
  src/styles/shiki.css
  static/sakura-dark.css
Due: prettier --write --list-different, eslint --fix

still fixing styles
  src/routes/+layout.svelte
  src/routes/app.css
Due: prettier --write --list-different, eslint --fix

remove .env for github url var
  package.json
  src/app.d.ts
  src/lib/table/README.md
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/examples/+layout.svelte
  src/vite-plugins/markdown.ts
  vite.config.ts
Due: prettier --write --list-different, eslint --fix

change anchor underline
  src/routes/app.css
Due: none

added page titles
  src/routes/+layout.svelte
  src/routes/examples/+layout.svelte
Due: prettier --write --list-different, eslint --fix

fixed renderComponent prop generics
  src/lib/table/render-component.ts
Due: prettier --write --list-different, eslint --fix

example for rendering components
  pnpm-lock.yaml
  src/lib/services/example-registry.ts
  src/lib/services/user-profile.ts
  src/routes/examples/rendering-components/+page.svelte
  src/routes/examples/rendering-components/+page.ts
  src/routes/examples/rendering-components/README.md
  src/routes/examples/rendering-components/_components/data-table-cell-countdown.svelte
  src/routes/examples/rendering-snippets/README.md
  src/vite-plugins/markdown.ts
Due: prettier --write --list-different, eslint --fix

update lockfile
  pnpm-lock.yaml
Due: none

added helpful links section
  package.json
  pnpm-lock.yaml
  src/lib/services/example-registry.ts
  src/routes/+page.svelte
  src/routes/app.css
  src/routes/examples/+layout.svelte
Due: prettier --write --list-different, eslint --fix

color mode switch
  src/lib/components/mode-button.svelte
  src/routes/+page.svelte
  src/routes/examples/+layout.svelte
Due: prettier --write --list-different, eslint --fix

changed name of selection example
  src/lib/services/example-registry.ts
  src/routes/examples/row-selection/+page.svelte
  src/routes/examples/row-selection/+page.ts
  src/routes/examples/row-selection/README.md
  src/routes/examples/row-selection/_components/table-checkbox.svelte
Due: prettier --write --list-different, eslint --fix

grid view example
  src/lib/services/example-registry.ts
  src/routes/examples/basic/README.md
  src/routes/examples/grid-view/+page.svelte
  src/routes/examples/grid-view/+page.ts
  src/routes/examples/grid-view/README.md
  src/routes/examples/row-selection/+page.svelte
Due: prettier --write --list-different, eslint --fix

update svelte 5
  package.json
  pnpm-lock.yaml
  src/routes/examples/rendering-components/README.md
  src/routes/examples/row-selection/README.md
Due: prettier --write --list-different

add expansion demo
  src/lib/services/example-registry.ts
  src/lib/services/user-profile.ts
  src/routes/api/user-profile/[n]/+server.ts
  src/routes/examples/row-expansion/+page.svelte
  src/routes/examples/row-expansion/+page.ts
  src/routes/examples/row-expansion/README.md
  src/routes/examples/row-expansion/_components/expand-button.svelte
  src/routes/examples/row-selection/README.md
Due: prettier --write --list-different, eslint --fix

fix friends logic
  src/routes/api/user-profile/[n]/+server.ts
  src/routes/examples/row-expansion/+page.ts
Due: prettier --write --list-different, eslint --fix

add reactivity nodes to example
  src/routes/examples/rendering-snippets/README.md
Due: none

add heading ids
  package.json
  pnpm-lock.yaml
  src/vite-plugins/markdown.ts
  vite.config.ts
Due: prettier --write --list-different, eslint --fix
